<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estiloArquitectura.css}">
    <title>Arquitectura</title>
</head>
<body>
    <h1> Arquitectura del Proyecto</h1>
    <h2>Diagramas de Referencia C4</h2>
    <ul>
        <li><h3>Diagramas de Contexto</h3>
            <img src="" alt="">
        </li>
        <li>
            <h3>Diagrama de Contenedor</h3>
            <img src="" alt="">
        </li>
        <li>
            <h3>Diagrama de Componentes</h3>
            <img src="" alt="">
        </li>
    </ul>
    <h2>Modelos</h2>
    <h3>Entidad Relacion</h3>
    <img src="" alt="">
    <h3>Diagrama de Despliegue</h3>
    <img src="" alt="">
</body>
</html>