<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Descripcion del Proyecto</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/estilosDescripcion.css}"
    </head>
    <body>
        <h1>¿De que se trata el proyecto?</h1>
        <p>El proyecto se trata de una plataforma que permite la comunicacion entre personas que son propietarias de una o muchas propiedades y personas que desean arriendar dichas propiedades, esta plataforma debe ser de utilidad para que arendador y administrador puedan mantenerse en contacto y </p>
        <p><a th:href="@{/Portada}">Volver Portada</a></p>
    </body>
</html>