<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <h1>Proyecto de Desarrollo web</h1>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/estilosPortada.css}">
    </head>
    <body>
        <ol>
            <h2>Equipo:</h2>
            <p>To be announced</p>
        </ol>
        <div class="contenedor">
            <div class="contenedor2">
                <p>Víctor Sánchez</p>
                <ol>
                    <p>X</p>
                </ol>
            </div>
            <div class="contenedor2">
                <p>Andrés Santiago Sáenz Orozco</p>
                <ol>
                    <p>X</p>
                </ol>
            </div>
            <div class="contenedor2">
                <p>Juan Pablo Gómez Hernández</p>
                <ol>
                    <p>X</p>
                </ol>
            </div>
            <div class="contenedor2">
                <p>Sara Albarracin Niño</p>
                <ol>
                    <p>X</p>
                </ol>
            </div>
            <div class="contenedor2">
                <p>Juan Pablo Casas Garcia</p>
                <ol>
                    <p>X</p>
                </ol>
            </div>
        </div>
        <h2>Puntos de Interes</h2>
        <div class="contenedor3">
            <ul>
                <li><a th:href="@{/controladores/Descripcion}">Descripcion Proyecto</a></li>
                <li><a th:href="@{/controladores/requerimientos}">Requerimientos</a></li>
                <li><a th:href="@{/controladores/arquitectura}">Arquitectura del Proyecto</a></li>
                <li><a th:href="@{/controladores/desarrollo}">Para Desarrollo y Despliegue</a></li>
                <li><a th:href="@{/controladores/pruebas}">Pruebas</a></li>
                <li><a th:href="@{/controladores/contactenos}">Formulario para Contactar</a></li>
            </ul>
        </div>

    </body>
</html>